.itemContainer{
    display:block;
    margin : 1px;
    padding: 1px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4em;
}

.itemContainer span{
    float:left;
}

.itemButton{
    float: right;
    width: 40px;
    height: 40px;
    border: solid 2px;
    border-radius: 3px;
    margin-right: 2px;
    align-content: center;
}

.greenButton{
    color: green;
}

.greenButton:hover{
    color: darkgreen;
    background-color: lightgreen;
}

.redButton{
    color: tomato;
}
.redButton:hover{
    color: darkred;
    background-color: lightpink;
}

.normalSpan{
    text-decoration-line: inherit;
}
.doneSpan{
    text-decoration: line-through;
}